
#blobV {
  width: 45%;
  height: auto;
  float: right;
}

.tagline1V {
  height: auto;
  text-align: center;
  width: 55%;
  float: left;
}

.tagline1V h1 {
  margin-top: 10%;
  font-size: 3vw;
  font-weight: bold;
}

.tagline1V h2 {
  font-size: 2.1vw;
  font-size: 2vw;
  font-weight: bold;
}

.tagline1V p {
  font-size: 1.3vw;
}


.nav-item a {
  font-size: 1.3vw;
  font-weight: bold;
  color: black;
}

.fs-4 {
  font-weight: bold;
  margin-left: 2.5vw;
}

/* typing animation style */
h1 {
  font-size: 2.6vw;
}

@keyframes typewriter {
  0%,
  100% {
    width: 0;
  }

  20%,
  80% {
    width: 7.5em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.text_1V {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  top: -3vw;
  left: -1.5vw;
}

.text_1V::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

/* css for blob button  */
.buttonsV {
  text-align: center;
  border-radius: 30px;
}

.blob-btnV {
  z-index: 1;
  position: relative;
  padding: 1.15vw 3vw;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #00CBF9;
  font-size: 1.1vw;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btnV:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00CBF9;
  border-radius: 30px;
}
.blob-btnV:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btnV:hover {
  color: #ffffff;
  border-radius: 30px;
}
.blob-btnV:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__innerV {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobsV {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blobV {
  position: absolute;
  top: 2px;
  width: 30%;
  height: 100%;
  background: #A6F890;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blobV {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blobV:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blobV:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blobV:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blobV:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btnV:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btnV:hover .blob-btn__blobV {
    transform: translateZ(0) scale(1.4);
  }
}
.row{
  margin-right: 0;
}
.contactlinks{
  height: auto;
  background-color:#E6F4F1 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactlinks h2{
  font-size: 5vw;
  font-weight: bold;
}
.contactlinks h3{
  font-size: 3vw;
  font-weight: bold;
}

#gmail{
  margin-left: 25px;
  cursor: pointer;
}
#instagram{
  cursor: pointer;
}
#VC{
  width: 15vw;
}
#HV{
  width: 15vw;
}

#orderplaceheading{
  font-size: 3vw;
  font-weight: bold;
}
#Vorder{
  background-color: #D1FAE9;
}